---
- name: Install sudo via apt
  apt: pkg=sudo state=present
  when: ansible_pkg_mgr == 'apt'

- name: Install sudo via yum
  yum: name=sudo state=present
  when: ansible_pkg_mgr == 'yum'

- name: Install sudo via zypper
  zypper: name=sudo state=present
  when: ansible_pkg_mgr == 'zypper'

- name: Install sudo via pacman
  pacman: name=sudo state=present
  when: ansible_pkg_mgr == 'pacman'

- name: Install sudo via portage
  portage: name=sudo state=present
  when: ansible_pkg_mgr == 'portage'


- name: Ensure sudo group present
  group: name=sudo state=present system=yes

- name: Ensure the sudoers directory is present
  file: >
        path="{{ sudo_sudoers_dir }}"
        state='directory'
        owner='root'
        group='root'
        mode=0700
...
